{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155}}
    {% else %}
        welcome to fipcart shop where you can buy different items
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{category.name}} - fipcart store
    {% else %}
       see our new collections -fipcart shop
    {% endif %}
{% endblock %}

{% block content %}
    {% if category %}
    <div>
        <div class="row my_row_class">
            <div class="mx_auto">
            <p><a href="{% url 'shop:allprodcat' %}">our product collections</a></p>
        </div>
            </div>
    </div>
    {% endif %}
<div class="mx_auto">
    {% if category %}
    <img class="my_image rounded mx-auto d-block" src="{{category.image.url}}" alt="{{category.name}}">
</div>
    <br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify text-center">{{category.description}}</p>
</div> <br>
    {% else %}
<div>
    <img class="my_image my_image_padding" src="{% static 'img/BANNER.png' %}" alt="our products" width="1115px;">
</div>
<br>
<div>
    <h1 class="text-center my_title"> our products collections</h1>
    <p class="text-justify text-center">It helps the designer plan where the content will sit. It helps in creating drafts of the content on the pages of the website. It originates from the Latin text but is seen as gibberish. Sometimes, the reader gets distracted while creating or working on the website. That’s why this language is important.</p>
</div>
    {% endif %}
    <div class="container">
        <div class="row max_auto">
            {% for product in products.object_list %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4" >
                <div class="card text-center" style="min-width:18rem;">
                    <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" width="130px;" height="230px;" alt="{{product.name}}"></a>
                    <div class="card-body">
                        <h3>{{product.name}}</h3>
                        <p>{{product.prise}}</p>
                    </div>
                    <br>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mx-auto">
            {% if products.paginator.num_pages > 1 %}

            <hr>
            <div class="text-center">
                {% for pg in products.paginator.page_range %}
                    <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <br>
    </div>
{% endblock %}