{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
        {{ product.description|truncatewords:155}}
{% endblock %}
{% block title %}
    {% if category %}
        {{product.name}} - fipcart store
    {% endif %}
{% endblock %}
{% block content %}
<div class="my_prod">
  <div class="mx_auto">
    <p> <a href="{% url 'shop:allprodcat' %}">HOME</a> | <a href="{{product.category.get_url}}">{{product.category}}</a> | {{product.name}}</p>
  </div>

<div class="container">
    <br>
    <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <div style="min-width:18rem">
          <img src="{{product.image.url}}" width="200px;" height="200px;" alt="{{product.name}}">
        </div>
    </div>
        <br>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div>
            <h1 class="prod_title">{{product.name}}</h1>
            <p>${{product.prise}}</p>
            <p class="text-justify prod_text">{{product.description}}</p>
                {% if product.stoke <= 0 %}
                    <p class="text-justify text-danger"><b>OUT OF STOCK</b></p>
                {% else %}
                    <a class="btn btn-secondary" href="{% url 'cart:add_cart' product.id %}">Add to Cart</a>
                {% endif %}
        </div>


</div>
    </div>
</div>
</div>
<br>
{% endblock %}